ai
[{"id":"aaa2e1f.21fec2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b58fcb68.b31e58","type":"function","z":"aaa2e1f.21fec2","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":225.5,"y":119,"wires":[["2e3fb5e6.72c2ba","810a1545.4978a8"]]},{"id":"39910362.8daacc","type":"debug","z":"aaa2e1f.21fec2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":662.5,"y":34,"wires":[]},{"id":"5b641e31.2d93e","type":"function","z":"aaa2e1f.21fec2","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":593.5,"y":147,"wires":[["144e848c.97163b","c738861f.da9ce8","732088fb.010f68"]]},{"id":"f1e96ac1.1f89f8","type":"inject","z":"aaa2e1f.21fec2","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":41,"wires":[["4a3d63f2.c9458c"]]},{"id":"4a3d63f2.c9458c","type":"function","z":"aaa2e1f.21fec2","name":"","func":"msg.payload=\"https://firebasestorage.googleapis.com/v0/b/flood-preparedness.appspot.com/o/images%2Fexample.jpg?alt=media&token=c95e9787-b3a0-42aa-b810-87bd8a4f1ed9\"\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":55,"wires":[["aa87a085.87072"]]},{"id":"f8a629d0.7b3a58","type":"watson-speech-to-text","z":"aaa2e1f.21fec2","name":"sst","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"","password":"sNZUa43Kblpj","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":243,"y":205,"wires":[["e688e782.d342a8","39910362.8daacc"]]},{"id":"e688e782.d342a8","type":"function","z":"aaa2e1f.21fec2","name":"msg.","func":"msg.payload=msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":325.5,"y":276,"wires":[["39910362.8daacc","810a1545.4978a8"]]},{"id":"810a1545.4978a8","type":"watson-conversation-v1","z":"aaa2e1f.21fec2","name":"","workspaceid":"c6b8c2f8-8f44-4488-860a-57791afb5933","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":427,"y":162,"wires":[["5b641e31.2d93e","39910362.8daacc"]]},{"id":"c738861f.da9ce8","type":"ui_text","z":"aaa2e1f.21fec2","group":"cce17879.df0a98","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":743,"y":104,"wires":[]},{"id":"2e3fb5e6.72c2ba","type":"ui_text","z":"aaa2e1f.21fec2","group":"cce17879.df0a98","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":412,"y":103,"wires":[]},{"id":"d128b7a6.e18e08","type":"ui_form","z":"aaa2e1f.21fec2","name":"","label":"","group":"cce17879.df0a98","order":1,"width":0,"height":0,"options":[{"label":"Enter your text","value":"text","type":"text","required":true}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":91,"y":112,"wires":[["b58fcb68.b31e58"]]},{"id":"144e848c.97163b","type":"ui_audio","z":"aaa2e1f.21fec2","name":"","group":"cce17879.df0a98","voice":"","always":"","x":762,"y":146,"wires":[]},{"id":"aa87a085.87072","type":"ui_template","z":"aaa2e1f.21fec2","group":"cce17879.df0a98","name":"","order":0,"width":"6","height":"10","format":"<img id=\"bin3_img\"  alt=\"image\" ng-src=\"{{msg.payload}}\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":394,"y":58,"wires":[[]]},{"id":"732088fb.010f68","type":"play audio","z":"aaa2e1f.21fec2","name":"","voice":"","x":748,"y":181,"wires":[]},{"id":"56671bc8.ed9d54","type":"microphone","z":"aaa2e1f.21fec2","name":"","x":99,"y":173,"wires":[["f8a629d0.7b3a58"]]},{"id":"cce17879.df0a98","type":"ui_group","z":0,"name":"Chatbot","tab":"62d1d63a.a5d3f8","disp":true,"width":"6","collapse":false},{"id":"62d1d63a.a5d3f8","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"}]
