wheel
[{"id":"ede6b883.369f58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c626a2f7.a4cef","type":"inject","z":"ede6b883.369f58","name":"\"Stop\"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":115,"y":157,"wires":[["4f397eb0.c511d"]]},{"id":"9d5cce4c.4d2d3","type":"inject","z":"ede6b883.369f58","name":"\"Half Ahead\"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":135,"y":117,"wires":[["4f397eb0.c511d"]]},{"id":"2b3304b5.e287ec","type":"inject","z":"ede6b883.369f58","name":"\"Full Ahead\"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":135,"y":77,"wires":[["4f397eb0.c511d"]]},{"id":"6d34e9c9.147f98","type":"inject","z":"ede6b883.369f58","name":"\"Half Astern\"","topic":"","payload":"-50","payloadType":"num","repeat":"","crontab":"","once":false,"x":135,"y":197,"wires":[["4f397eb0.c511d"]]},{"id":"6b8b2778.c3e048","type":"inject","z":"ede6b883.369f58","name":"\"Full Astern\"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135,"y":237,"wires":[["4f397eb0.c511d"]]},{"id":"7f881f03.2dc7b","type":"rpi-gpio out","z":"ede6b883.369f58","name":"Right Forward","pin":"18","set":"","level":"0","out":"out","x":585,"y":497,"wires":[]},{"id":"8b27b70a.2d8598","type":"rpi-gpio out","z":"ede6b883.369f58","name":"Right Reverse","pin":"13","set":"","level":"0","out":"out","x":585,"y":437,"wires":[]},{"id":"9f4904aa.8a4d18","type":"rpi-gpio out","z":"ede6b883.369f58","name":"Left Reverse","pin":"11","set":"","level":"0","out":"out","x":575,"y":157,"wires":[]},{"id":"c0b61d2b.0756c","type":"rpi-gpio out","z":"ede6b883.369f58","name":"Left Forward","pin":"15","set":"","level":"0","out":"out","x":575,"y":217,"wires":[]},{"id":"4f397eb0.c511d","type":"function","z":"ede6b883.369f58","name":"set left speed","func":"var en = { payload: msg.payload };\nvar in1 = { payload: 0 };\nvar in2 = { payload: 0 };\n\nif (msg.payload > 0) {\n    in2 = { payload: 1 };\n} else if (msg.payload < 0) {\n    in1 = { payload: 1 };\n} \ncontext.leftSpeed = msg.payload;\nreturn [ en, in1, in2 ];","outputs":"3","noerr":0,"x":388,"y":154,"wires":[["52aec705.beb9a8"],["9f4904aa.8a4d18"],["c0b61d2b.0756c"]]},{"id":"1fa421e5.60283e","type":"function","z":"ede6b883.369f58","name":"set right speed","func":"var en = { payload: msg.payload };\nvar in1 = { payload: 0 };\nvar in2 = { payload: 0 };\n\nif (msg.payload > 0) {\n    in2 = { payload: 1 };\n} else if (msg.payload < 0) {\n    in1 = { payload: 1 };\n} \ncontext.rightSpeed = msg.payload;\nreturn [ en, in1, in2 ];","outputs":"3","noerr":0,"x":385,"y":437,"wires":[["4c522b1b.9f1d04"],["8b27b70a.2d8598"],["7f881f03.2dc7b"]]},{"id":"52aec705.beb9a8","type":"PCA9685 out","z":"ede6b883.369f58","name":"Left Velocity","pca9685":"d37e36e8.79c048","channel":"9","payload":"","unit":"percent","onStep":"0","x":575,"y":97,"wires":[]},{"id":"4c522b1b.9f1d04","type":"PCA9685 out","z":"ede6b883.369f58","name":"Right Velocity","pca9685":"d37e36e8.79c048","channel":"8","payload":"","unit":"percent","onStep":"0","x":585,"y":377,"wires":[]},{"id":"f00a6be2.069d08","type":"comment","z":"ede6b883.369f58","name":"Left Engine:","info":"","x":75,"y":37,"wires":[]},{"id":"56a73265.9172fc","type":"inject","z":"ede6b883.369f58","name":"\"Stop\"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":115,"y":437,"wires":[["1fa421e5.60283e"]]},{"id":"70cbf820.2e74b8","type":"inject","z":"ede6b883.369f58","name":"\"Half Ahead\"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":135,"y":397,"wires":[["1fa421e5.60283e"]]},{"id":"79971d33.2b1044","type":"inject","z":"ede6b883.369f58","name":"\"Full Ahead\"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":135,"y":353,"wires":[["1fa421e5.60283e"]]},{"id":"28a615ce.8431da","type":"inject","z":"ede6b883.369f58","name":"\"Half Astern\"","topic":"","payload":"-50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":135,"y":477,"wires":[["1fa421e5.60283e"]]},{"id":"5303c28f.de764c","type":"inject","z":"ede6b883.369f58","name":"\"Full Astern\"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135,"y":517,"wires":[["1fa421e5.60283e"]]},{"id":"2241fbca.4a59b4","type":"comment","z":"ede6b883.369f58","name":"Right Engine:","info":"","x":75,"y":317,"wires":[]},{"id":"2369a87a.36b478","type":"inject","z":"ede6b883.369f58","name":"\"Forward\"","topic":"","payload":"-50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":156,"y":602,"wires":[["1fa421e5.60283e","4f397eb0.c511d"]]},{"id":"fdc986e6.2352a8","type":"inject","z":"ede6b883.369f58","name":"\"Stop\"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":148,"y":656,"wires":[["1fa421e5.60283e","4f397eb0.c511d"]]},{"id":"2aa3dc43.fb3234","type":"inject","z":"ede6b883.369f58","name":"\"Reverse\"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":153,"y":714,"wires":[["1fa421e5.60283e","4f397eb0.c511d"]]},{"id":"d37e36e8.79c048","type":"PCA9685","z":"","deviceNumber":"1","address":"64","frequency":"50"}]
